/* Global Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  background-color: #1d1d1d;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

main {
  /* margin: 0 auto;
  width: 55%; */
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-size: 14px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Header Styles */

.header {
  background-color: #1d1d1d;
  color: #919191;
}

.nav-ul {
  display: flex;
  width: 80%;
  margin: 10px auto;
}

.nav-ul li {
  list-style: none;
  margin-right: 65px;
  padding: 1.1em 0;
}

.nav-ul li a {
  color: #919191;
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
}

.title {
  border: 2px solid black;
  border-radius: 50%;
}

/* Call out styles */

.callout-content {
  margin: 0 auto;
  width: 55%;
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.callout-header {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.75em;
  font-weight: 700;
  text-shadow: 0 2px 2px rgb(0 0 0 / 40%);
  margin: 0.5em 0;
}

.callout-copy {
  color: #ccc;
  width: 65%;
  margin: 0 auto;
  line-height: 1.4em;
  letter-spacing: 0.5px;
  margin-bottom: 1.3em;
  text-align: center;
}

.callout-info {
  font-size: 1em;
  font-weight: 700;
  color: #6ac045;
  margin: 0 auto;
  letter-spacing: 0.5px;
  text-align: center;
}

/* Movie wrapper section styles */

.movies {
  margin: 0 auto;
  width: 55%;
  color: #fff;
}

/* Footer Styles */
footer {
  margin-top: auto;
  background: #c1c7d0b9;
}

footer p {
  padding: 10px;
  text-align: center;
  font-size: 1.2rem;
}
